@inherits LayoutComponentBase
@implements IDisposable
@inject StateContainer StateContainer

<div class="page">
    @if (StateContainer.DataIsLoading)
    {
        <MainLoader />
    }

    <NavMenu />

    <main>
        @Body
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }

}
