.tooltip-content {
    display: none;
    box-shadow: var(--bs-full-dark);
    background-color: var(--color-white);
    padding: .3rem;
}

.main-content:hover + .tooltip-content {
    display: inline-block;
    position: absolute;
    text-align: center;
    z-index: 1;
}
