.result-display-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.result-display__result {
    padding: .3rem .5rem;
}