.fixtures-wrapper {
}

.team__fixtures-wrapper {
    display: grid;
    grid-template-columns: 80px 25px 1fr 15px;
}

    .team__fixtures-wrapper .team-name {
        grid-column: 1;
        margin: 0;
        justify-self: flex-start;
        align-self: center;
        text-align: left;
        font-size: 11px;
    }

    .team__fixtures-wrapper .team-name:hover {
        font-weight: 600;
        border-bottom: 1px solid black;
        cursor: pointer;
    }

    .team__fixtures-wrapper span {
        margin: 0;
        font-size: 11px;
        align-self: center;
        justify-self: center;
        color: gray;
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .team__fixtures-wrapper span i:hover {
        color: darkgray;
        cursor: pointer;
    }

        .team__fixtures-wrapper span:first-child {
            grid-column: 2;
        }

            .team__fixtures-wrapper span:first-child i:first-child {
                margin-right: .5rem;
            }

            .team__fixtures-wrapper span:last-child {
                grid-column: 4;
                margin-bottom: 1rem;
            }

        .team__fixtures-wrapper span:last-child i:last-child {
            margin-left: .5rem;
        }

    .team__fixtures {
        grid-column: 3;
        display: grid;
        grid-template-columns: repeat(11, 85px);
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
