@page "/planner"

<div class="planner-nav">

    @if (!StateContainer.DataIsLoading)
    {
        <AddPlannerButton />
    }

</div>
<div class="common-wrapper planner-wrapper">

    <CascadingValue Value="@CurrentTeam">
        @for(int i = StateContainer.NextGameweek; i <= (StateContainer.NextGameweek + GameweeksToDisplay); i++)
        {
            <GameweekPlanner Players="Players?.ToList()" Gameweek="i" OnPlayerSelected="OnPlayerSelected" />
        }
    </CascadingValue>

</div>