@page "/planner"

<div class="planner-nav">

    @if (!StateContainer.DataIsLoading)
    {
        <AddPlannerButton />
    }

</div>
<div class="common-wrapper planner-wrapper">

    @for(int i = 1; i <= GameweeksToDisplay; i++)
    {
        <GameweekPlanner Players="Players?.ToList()" Gameweek="i" />
    }

</div>