details {
    position: relative;
    width: 22rem;
}

    details[open] {
        z-index: 1;
    }

summary {
    padding: .3rem;
    cursor: pointer;
    border-radius: .5rem;
    background-color: var(--color-fixture-gray);
    list-style: none;
    border: .1rem solid var(--color-gray);
}

    summary::-webkit-details-marker {
        display: none;
    }

details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

summary:after {
    content: '';
    display: inline-block;
    margin-top: .5rem;
    margin-right: .5rem;
    float: right;
    width: .5rem;
    height: .5rem;
    border-bottom: .2rem solid;
    border-left: .2rem solid;
    border-bottom-left-radius: .2rem;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
}

summary:focus {
    outline: none;
}

details[open] summary:after {
    transform: rotate(-45deg) translate(0%, 0%);
}

ul {
    width: 100%;
    background: var(--color-fixture-gray);
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: .5rem;
    max-height: 20rem;
    overflow-y: auto;
    box-shadow: var(--bs-full-dark);
}

li {
    position: relative;
    margin: 0;
    padding: 1rem;
    /*border-bottom: .1rem solid var(--color-gray);*/
    list-style-type: none;
}

    li:not(:last-child)::after {
        position: absolute;
        content: '';
        border-bottom: .1rem solid var(--color-middlelight-gray);
        width: 95%;
        transform: translateX(-50%);
        bottom: 0;
        left: 50%;
    }

    li:hover {
        background-color: var(--color-middlelight-gray);
    }

    li:not(:first-child):hover {
        margin-top: -.1rem;
    }

    li:not(:first-child):hover label {
        margin-top: .1rem;
    }

    li:last-child {
        border-bottom: none;
    }

/* FAKE SELECT */

summary.radios {
    counter-reset: radios;
}

    summary.radios:before {
        content: var(--selection);
    }

input[type=radio] {
    counter-increment: radios;
    appearance: none;
    display: none;
}

    input[type=radio]:checked {
        display: inline;
        --display: block;
    }

    input[type=radio]:after {
        content: attr(title);
        display: inline;
        font-size: 1.3rem;
        margin-left: .3rem;
    }

ul.list {
    padding: 0;
    counter-reset: labels;
}

label {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    font-size: 1.3rem;
}

    label span {
        --display: none;
        display: var(--display);
        width: 1rem;
        height: 1rem;
        border: 1px solid #727272;
        border-radius: .3rem;
    }